* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: dotted;
}
img {
  display: block;
  max-width: 100%;
}
input {
  border-radius: 4px;
}

.start {
margin-left: 40%;
}
.start,
.stop {
  width: 140px;
  height: 140px;
  margin-top: 10%;  
  border-radius: 50%;
  font-size: 20px;
}

body {
  background-image: url(../images/background-ice-desk-2x.png);
}

.timer {
  display: flex;
  margin-top: 20px;
}
.field {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 10px;
}
.value {
  font-size: 36px;
  color: 'aloha'
}

